body {
    background-color: #000;    
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
  }

  html,
        body {
            margin: 0;
            background-color: #000;
            width: 100%;
            height: 100%;
            padding: 0;
        }

        .main {
            background-color: #000;
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover !important;
        }
        .main-overlay {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
      }